<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.supply.mapper.UserMapper">

    <select id="login" resultType="com.supply.domain.entity.User">
        select * from user
        <where>
            <if test="email != null">
                and email = #{email}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
            and firm_name = #{firmName}
        </where>
    </select>

    <select id="getAuthority" resultType="java.lang.String">
        select distinct perms
        from user_role ur
                 left join role r on ur.role_id = r.id
                 left join role_menu rm on ur.role_id = rm.role_id
                 left join menu m on rm.menu_id = m.id
        where user_id = #{userId} and m.status = 0
    </select>

    <update id="updateUserInformation" parameterType="com.supply.domain.entity.User">
        UPDATE user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="firmName != null">firm_name = #{firmName},</if>
            <if test="workType != null">work_type = #{workType},</if>
            <if test="image != null">image = #{image},</if>
            <if test="email != null">email = #{email},</if>
            <if test="accountStatus != null">account_status = #{accountStatus},</if>
            <if test="telephone != null">telephone = #{telephone},</if>
            <if test="password != null">password = #{password},</if>
            <if test="resume != null">resume = #{resume},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="age != null">age = #{age},</if>
            <if test="IDNumber != null">id_number = #{IDNumber},</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
